@model OneToManyEntityFrameworkDemo.Models.ViewModels.BoekAuteurEveryViewModel

<form class="form-inline mt-1" asp-action="FiltersEveryViewModel" asp-controller="Boeken" method="get">
	<div class="input-group">
		<select asp-for="GeselecteerdeAuteurId" asp-items="@(new SelectList(Model.Auteurs, "AuteurId", "Naam"))" class="form-control">
			<option value="">Selectionnez un auteur</option>
		</select>
		<button type="submit" class="btn btn-outline-primary form-group w-25">Filter</button>
	</div>
</form>



<table class="table table-striped mt-5">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.GeselecteerdeAuteurId)
				@* ID du livre *@
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Boeken)
			</th>
			
			<th>
				@Html.DisplayNameFor(model => model.Auteurs)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Boeken)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.BoekId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Auteur.Naam)
				</td>
				
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<th colspan="2">Compte</th>
			<td>@Model.Boeken.Count</td>
		</tr>
	</tfoot>
</table>